* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	color: #666
}

div { display: block;}




/* ========== */
/* === 页头 === */
/* ========== */
#header_wrapper {
	width: 100%;
	height: 35px;
	background: url(../img/header_bg.png) repeat-x;
}
#tel_wrapper {
	width: 264px;
	height: 20px;
	padding-top: 5px;
	margin: auto 145px auto auto;
}

/* ========== */
/* === 导航 === */
/* ========== */
#nav_wrapper {
	display: block;
	width: 100%;
	height: 100px;
	background-color: #fff;
}
#logo {
	float: left;
	margin-top: 22px;
	display: inline-block;
	height: 100px;
	width: 210px;
	margin: 0 40px auto 140px;
}
#logo img {
	margin: 23px auto auto auto;
}
li {
	list-style: none;
	float: left;
	margin: auto 5px;
	color: #666;
}

#nav {
	float: right;
	margin-right: 10%;
	display: inline-block;
	width: 600px;
	height: 100px;
	line-height: 100px;
	
}


/* ============== */
/* === BANNER === */
/* ============= */
#banner_wrapper {
	display: inline-block;
	width: 100%;
}
#banner_wrapper img {
	width: 100%;
}



/* =========== */
/* === 内容 === */
/* ========== */
#container_wrapper {
	display: inline-block;
	height: auto;
	width: 100%;
	margin-bottom: 135px;
}
#label_img_wrapper {
	display: block;      /*这里意为强调*/
	width: 950px;
	height: 110px;
	margin: 45px auto 50px auto;
}
.label_img {
	float: left;
	padding:0 40px ;
	overflow: hidden;
}


#label_exhibition_wrapper {
	position: relative;
	display: inline-block;
	width: 70%;
	height: 400px;
	margin: 0 15% 0 15%;
}
#label_exhibition_header{
	display: inline-block;
	width: 100%;
	height: 50px;
}
.label_exhibition_box {
	display: inline-block;
	width: inherit;
	height: 30px;
	background-color: #2d3237;
	text-align: center;
	line-height: 30px;
	color: #fff;
	margin-bottom: 10px;
}
.label_exhibition_title {
	text-align: center;
}
.label_exhibition_line:nth-child(2) {
	display: inline-block;
	position: absolute;
	top: 45px;
	left: 0;
	width: 45%;
	height: 2px;
	background-color: #2D3237;
}
.label_exhibition_line:nth-child(4) {
	display: inline-block;
	position: absolute;
	top: 45px;
	right: 0;
	width: 45%;
	height: 2px;
	background-color: #2D3237;
}
#label_exhibition_tab_wrapper {
	margin-top: 45px;
	width: 100%;
	height: 300px;
}
.label_exhibition_tab {
	display: inline-block;
	width: 15%;
	height: 300px;
	overflow: hidden;
	float: left;
}

#label_about_wrapper {
	position: relative;
	display: inline-block;
	width: 70%;
	height: 300px;
	margin: 55px 15% 0 15%;
}
#label_about_header{
	display: inline-block;
	width: 100%;
	height: 50px;
}
.label_about_box {
	display: inline-block;
	width: inherit;
	height: 30px;
	background-color: #2d3237;
	text-align: center;
	line-height: 30px;
	color: #fff;
	margin-bottom: 10px;
}
.label_about_title {
	text-align: center;
}
.label_about_line:nth-child(2) {
	display: inline-block;
	position: absolute;
	top: 45px;
	left: 0;
	width: 45%;
	height: 2px;
	background-color: #2D3237;
}
.label_about_line:nth-child(4) {
	display: inline-block;
	position: absolute;
	top: 45px;
	right: 0;
	width: 45%;
	height: 2px;
	background-color: #2D3237;
}

#label_about_str {
	text-align: center;
	line-height: 20px;
	margin-top: 50px;
}



#label_service_wrapper {
	position: relative;
	display: inline-block;
	width: 70%;
	height: 300px;
	margin: 55px 15% 0 15%;
}
#label_service_header{
	display: inline-block;
	width: 100%;
	height: 50px;
}
.label_service_box {
	display: inline-block;
	width: inherit;
	height: 30px;
	background-color: #2d3237;
	text-align: center;
	line-height: 30px;
	color: #fff;
	margin-bottom: 10px;
}
.label_service_title {
	text-align: center;
}
.label_service_line:nth-child(2) {
	display: inline-block;
	position: absolute;
	top: 45px;
	left: 0;
	width: 45%;
	height: 2px;
	background-color: #2D3237;
}
.label_service_line:nth-child(4) {
	display: inline-block;
	position: absolute;
	top: 45px;
	right: 0;
	width: 45%;
	height: 2px;
	background-color: #2D3237;
}

#label_service_str {
	text-align: center;
	line-height: 18px;
	margin-top: 50px;
}



#footer_wrapper{
	
}
#footer_str {
	background-color: #eaeaea;
	text-align: center;
}


